@import url('https://fonts.googleapis.com7css?family=Nunito:400,700|Lato:400,800,900');

$family-sans-serif:"Nunito",sans-serif;

$control-border-width:2px;
$input-border-color:transparent;
$input-shadow:none;

html,body{
    height: 100%;
}

html{
    background-image: url('../src/assets/background.2jpg.jpg');
    background-size: cover;

    overflow-y:auto !important;
}